{% extends 'pages/index.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Reservation</title>
    </head>
    <body>
        {% block content %}
        <h1>Total of Reservations: {{total_reservation}}</h1>
       
        <table>
            <tr>
                <th>Id</th>
                <th>Customer name</th>
                <th>Number of customer</th>
                <th>Time</th>
                <th>Date</th>
                <th>Edit</th>
            </tr>
            <tr>
                {% for customer in reservations %}
                <td>{{customer.id}}</td>
                <td>{{customer.customer_name}}</td>
                <td>{{customer.number_of_customer}}</td>
                <td>{{customer.Time}}</td>
                <td>{{customer.Date}}</td>
                <td><a href="{% url 'updateReservation' customer.id %}">Update</a></td>
                <td><a href="{% url 'deleteReservation' customer.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
       <br>
       <br>
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" name="Submit">
        </form>
 

      

        {% endblock %}
    </body>
</html>
